# Setup

In [24]:
#!pip install jupysql

In [25]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [26]:
%sql sqlite:///aula2.sqlite3

Connecting and switching to connection 'sqlite:///aula2.sqlite3'

# Exercícios

1. Crie uma tabela chamada "clientes" com as colunas "id" (integer), "nome" (text) e "email" (text).

In [27]:
%%sql

CREATE TABLE clientes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT,
    email TEXT
);

Running query in 'sqlite:///aula2.sqlite3'

++
||
++
++

2. Crie uma tabela chamada "produtos" com as colunas "id" (integer), "nome" (text), "preco" (numeric) e "quantidade" (integer).

In [28]:
%%sql

CREATE TABLE produtos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT,
    preco NUMERIC
)

Running query in 'sqlite:///aula2.sqlite3'

++
||
++
++

3. Crie uma tabela chamada "pedidos" com as colunas "id" (integer), "cliente_id" (integer) e "total" (numeric).

In [29]:
%%sql

CREATE TABLE pedidos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    cliente_id INTEGER,
    total NUMERIC,
    FOREIGN KEY (cliente_id) REFERENCES clientes(ID)
)

Running query in 'sqlite:///aula2.sqlite3'

++
||
++
++

4. Adicione uma coluna chamada "endereco" (text) na tabela "clientes"

In [30]:
%%sql

ALTER TABLE clientes
ADD COLUMN endereco TEXT null;

Running query in 'sqlite:///aula2.sqlite3'

++
||
++
++

5. Crie uma tabela chamada "fornecedores" com as colunas "id" (integer), "nome" (text) e "telefone" (text).

In [31]:
%%sql

CREATE TABLE fornecedores (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT,
    telefone TEXT
)

Running query in 'sqlite:///aula2.sqlite3'

++
||
++
++

6. Exclua a tabela "produtos".

In [32]:
%%sql

DROP TABLE produtos

Running query in 'sqlite:///aula2.sqlite3'

++
||
++
++

7. Insira um novo cliente com nome "João" e email "joao@example.com".

In [33]:
%%sql

INSERT INTO clientes (id, nome, email, endereco) values (0, 'João', 'joao@example.com', 'Rua de teste');

Running query in 'sqlite:///aula2.sqlite3'

1 rows affected.

++
||
++
++


8. Insira um novo fornecedor com nome "ABC Distribuidora" e telefone "123-456789".

In [34]:
%%sql

INSERT INTO fornecedores (id, nome, telefone) values (0, 'ABC Distribuidora', '123-456789');

Running query in 'sqlite:///aula2.sqlite3'

1 rows affected.

++
||
++
++

9. Exclua todos os clientes que possuem email "joao@example.com".

In [35]:
%%sql

DELETE FROM clientes
WHERE email == 'joao@example.com'

Running query in 'sqlite:///aula2.sqlite3'

1 rows affected.

++
||
++
++

10. Insira um novo pedido com cliente_id 1 e total 100.00.

In [36]:
%%sql

INSERT INTO pedidos (id, cliente_id, total) values (0, 1, 100.00);

Running query in 'sqlite:///aula2.sqlite3'

1 rows affected.

++
||
++
++

11.  Exclua todos os fornecedores.

In [37]:
%%sql

DELETE FROM fornecedores

Running query in 'sqlite:///aula2.sqlite3'

1 rows affected.

++
||
++
++