In [ ]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.7.9-py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.7.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from jupysql) (7.34.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.16)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Collecting sqlglot (from jupysql)
  Downloading sqlglot-17.3.0-py3-none-any.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.6/280.6 kB 9.1 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.2)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.13-py3-none-any.whl (21 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (8.1.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.0.1-py2.py3-none-any.whl (37 kB)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (67.7.2)
Collecting jedi>=0.16 (from ipython->jupysql)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 36.8 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupysql) (0.2.6)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Installing collected packages: sqlglot, monotonic, jedi, backoff, posthog, ploomber-core, jupysql
Successfully installed backoff-2.2.1 jedi-0.18.2 jupysql-0.7.9 monotonic-1.6 ploomber-core-0.2.13 posthog-3.0.1 sqlglot-17.3.0

In [ ]:
%load_ext sql

In [ ]:
!wget https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3

--2023-07-09 18:59:47--  https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3
Resolving rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)... 20.60.132.100
Connecting to rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)|20.60.132.100|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 804864 (786K) [application/octet-stream]
Saving to: ‘northwind.sqlite3’

northwind.sqlite3   100%[===================>] 786.00K  5.03MB/s    in 0.2s

2023-07-09 18:59:48 (5.03 MB/s) - ‘northwind.sqlite3’ saved [804864/804864]

In [ ]:
%sql sqlite:///northwind.sqlite3

## Funções de Agregação e Group By

A cláusula "GROUP BY" no SQL é utilizada para agrupar registros de uma tabela com base em uma ou mais colunas específicas. Essa cláusula permite que você divida os dados em grupos com base nos valores das colunas escolhidas.

Quando você usa o "GROUP BY", os registros são agrupados em conjuntos distintos, onde cada conjunto contém registros com valores idênticos nas colunas especificadas. Em seguida, você pode aplicar funções de agregação, como COUNT, SUM, AVG, MAX, MIN, entre outras, para obter informações resumidas sobre cada grupo.

Essa cláusula é frequentemente usada em combinação com outras cláusulas, como "SELECT" e "HAVING", para realizar consultas mais complexas. Ela é útil para analisar grandes conjuntos de dados e obter insights sobre diferentes grupos ou categorias de informações.

Por exemplo, ao utilizar o "GROUP BY" na coluna de categoria de produtos, você pode obter a contagem de produtos em cada categoria ou o valor total de vendas por categoria. Isso permite que você faça análises mais detalhadas e resuma os dados de acordo com critérios específicos.

Em resumo, a cláusula "GROUP BY" no SQL é usada para agrupar registros com base em valores de colunas específicas, permitindo a aplicação de funções de agregação para obter informações resumidas sobre cada grupo. Isso é útil para análise de dados e geração de relatórios.

### sum(), count(), min(), max(), avg()

No SQLite3, você pode usar as seguintes funções de agregação em combinação com a cláusula "GROUP BY" para obter informações resumidas sobre grupos de dados:

- COUNT: Retorna o número de registros em cada grupo.
- SUM: Calcula a soma dos valores em uma coluna específica para cada grupo.
- AVG: Calcula a média dos valores em uma coluna específica para cada grupo.
- MAX: Retorna o valor máximo em uma coluna específica para cada grupo.
- MIN: Retorna o valor mínimo em uma coluna específica para cada grupo.
- HAVING: Permite filtrar grupos com base em condições especificadas após o "GROUP BY" e antes da cláusula "ORDER BY".

Essas funções de agregação podem ser usadas para gerar relatórios resumidos, obter estatísticas sobre grupos de dados ou realizar análises agregadas em um banco de dados SQLite3.

In [ ]:
%%sql

select * from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------+-----------+-----------+----------+----------+
| OrderID | ProductID | UnitPrice | Quantity | Discount |
+---------+-----------+-----------+----------+----------+
|  10248  |     11    |     14    |    12    |   0.0    |
|  10248  |     42    |    9.8    |    10    |   0.0    |
|  10248  |     72    |    34.8   |    5     |   0.0    |
|  10249  |     14    |    18.6   |    9     |   0.0    |
|  10249  |     51    |    42.4   |    40    |   0.0    |
|  10250  |     41    |    7.7    |    10    |   0.0    |
|  10250  |     51    |    42.4   |    35    |   0.15   |
|  10250  |     65    |    16.8   |    15    |   0.15   |
|  10251  |     22    |    16.8   |    6     |   0.05   |
|  10251  |     57    |    15.6   |    15    |   0.05   |
+---------+-----------+-----------+----------+----------+

In [ ]:
%%sql

select sum(UnitPrice) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+-------------------+
|   sum(UnitPrice)  |
+-------------------+
| 56543.18000000013 |
+-------------------+

In [ ]:
%%sql

select count(*) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+----------+
| count(*) |
+----------+
|   2155   |
+----------+

In [ ]:
%%sql

select min(UnitPrice * Quantity) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------------------------+
| min(UnitPrice * Quantity) |
+---------------------------+
|            4.8            |
+---------------------------+

In [ ]:
%%sql

select max(UnitPrice * Quantity) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------------------------+
| max(UnitPrice * Quantity) |
+---------------------------+
|          15810.0          |
+---------------------------+

In [ ]:
%%sql

select avg(UnitPrice * Quantity) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------------------------+
| avg(UnitPrice * Quantity) |
+---------------------------+
|     628.8062227378191     |
+---------------------------+

### GroupBy

In [ ]:
%%sql

select sum(Quantity) from OrderDetails
group by ProductId

Running query in 'sqlite:///northwind.sqlite3'

+---------------+
| sum(Quantity) |
+---------------+
|      828      |
|      1057     |
|      328      |
|      453      |
|      298      |
|      301      |
|      763      |
|      372      |
|       95      |
|      742      |
+---------------+

In [ ]:
%%sql

select ProductId, sum(Quantity) as SomaQuantidade from OrderDetails
group by ProductId
order by SomaQuantidade desc

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------------+
| ProductID | SomaQuantidade |
+-----------+----------------+
|     60    |      1577      |
|     59    |      1496      |
|     31    |      1397      |
|     56    |      1263      |
|     24    |      1162      |
|     16    |      1158      |
|     75    |      1155      |
|     40    |      1103      |
|     62    |      1083      |
|     2     |      1057      |
+-----------+----------------+

### Having

In [ ]:
%%sql

select ProductId, sum(Quantity) as SomaQuantidade from OrderDetails
group by ProductId
having SomaQuantidade < 100
order by SomaQuantidade desc

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------------+
| ProductID | SomaQuantidade |
+-----------+----------------+
|     9     |       95       |
+-----------+----------------+

#Funções de date

## strftime

Uma das funções de data mais comuns no SQLite 3 é a função strftime(), que formata uma data e hora de acordo com um padrão especificado. Aqui está um exemplo:

In [ ]:
%%sql

SELECT strftime('%Y-%m-%d', 'now') AS current_date;

Running query in 'sqlite:///northwind.sqlite3'

+--------------+
| current_date |
+--------------+
|  2023-07-09  |
+--------------+

## date

Outra função útil é a função date(), que extrai a parte da data de um valor de data e hora. Aqui está um exemplo:

In [ ]:
%%sql

SELECT date('2023-07-09 14:30:00') AS extracted_date;

Running query in 'sqlite:///northwind.sqlite3'

+----------------+
| extracted_date |
+----------------+
|   2023-07-09   |
+----------------+

O SQLite 3 possui uma função chamada date('now'), que retorna a data atual no formato 'YYYY-MM-DD'. É uma forma conveniente de obter a data atual sem precisar especificar um valor específico. Aqui está um exemplo de uso dessa função:

In [ ]:
%%sql

SELECT date('now') AS current_date;

Running query in 'sqlite:///northwind.sqlite3'

+--------------+
| current_date |
+--------------+
|  2023-07-09  |
+--------------+

A função time retorna a parte do horário de um valor datetime.

In [ ]:
%%sql

select time('now') as current_time;