# Setup

In [ ]:
!pip install jupysql

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///

# Exercícios

1. Crie uma tabela chamada "clientes" com as colunas "id" (integer), "nome" (text) e "email" (text).

In [ ]:
%%sql

2. Crie uma tabela chamada "produtos" com as colunas "id" (integer), "nome" (text), "preco" (numeric) e "quantidade" (integer).

In [ ]:
%%sql

3. Crie uma tabela chamada "pedidos" com as colunas "id" (integer), "cliente_id" (integer) e "total" (numeric).

In [ ]:
%%sql

4. Adicione uma coluna chamada "endereco" (text) na tabela "clientes"

In [ ]:
%%sql

5. Crie uma tabela chamada "fornecedores" com as colunas "id" (integer), "nome" (text) e "telefone" (text).

In [ ]:
%%sql

6. Exclua a tabela "produtos".

In [ ]:
%%sql

7. Insira um novo cliente com nome "João" e email "joao@example.com".

In [ ]:
%%sql


8. Insira um novo fornecedor com nome "ABC Distribuidora" e telefone "123-456789".

In [ ]:
%%sql

9. Exclua todos os clientes que possuem email "joao@example.com".

In [ ]:
%%sql

10. Insira um novo pedido com cliente_id 1 e total 100.00.

In [ ]:
%%sql

11.  Exclua todos os fornecedores.

In [ ]:
%%sql