# Setup

In [2]:
%load_ext sql

In [3]:
import requests

url = 'https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3'
r = requests.get(url)

with open('northwind.sqlite3', 'wb') as f:
    f.write(r.content)

In [3]:
%sql sqlite:///northwind.sqlite3

Connecting to 'sqlite:///northwind.sqlite3'

# Exercícios

Exercício 1:

Qual é o número total de clientes na tabela Customers?

In [5]:
%%sql

SELECT COUNT(*) AS TotalCustomers
FROM Customers

Running query in 'sqlite:///northwind.sqlite3'

+----------------+
| TotalCustomers |
+----------------+
|       91       |
+----------------+

Exercício 2:

Qual é a idade mínima dos funcionários na tabela Employees?

In [8]:
%%sql

SELECT MIN(strftime('%Y-%m-%d', 'now') - BirthDate) AS MinAge
FROM Employees

Running query in 'sqlite:///northwind.sqlite3'

+--------+
| MinAge |
+--------+
|   40   |
+--------+

Exercício 3:

Qual é o valor máximo do frete na tabela Orders?

In [11]:
%%sql

SELECT MAX(Freight) AS MaxFreight
FROM Orders

Running query in 'sqlite:///northwind.sqlite3'

+------------+
| MaxFreight |
+------------+
|    2000    |
+------------+

Exercício 4:

Qual é o preço médio dos produtos na tabela Products?

In [13]:
%%sql

SELECT AVG(UnitPrice) AS AvgPrice
FROM Products

Running query in 'sqlite:///northwind.sqlite3'

+--------------------+
|      AvgPrice      |
+--------------------+
| 28.866363636363637 |
+--------------------+

Exercício 5:

Quantos clientes existem em cada país?

In [14]:
%%sql

SELECT Country, COUNT(*)
FROM Customers
GROUP BY Country

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------+
|  Country  | COUNT(*) |
+-----------+----------+
| Argentina |    3     |
|  Austria  |    2     |
|  Belgium  |    2     |
|   Brazil  |    9     |
|   Canada  |    3     |
|  Denmark  |    2     |
|  Finland  |    2     |
|   France  |    11    |
|  Germany  |    11    |
|  Ireland  |    1     |
+-----------+----------+
Truncated to displaylimit of 10.

Exercício 6:

Quantos funcionários existem em cada cidade?

In [15]:
%%sql

SELECT City, COUNT(*)
FROM Employees
GROUP BY City

Running query in 'sqlite:///northwind.sqlite3'

+----------+----------+
|   City   | COUNT(*) |
+----------+----------+
| Kirkland |    1     |
|  London  |    4     |
| Redmond  |    1     |
| Seattle  |    2     |
|  Tacoma  |    1     |
+----------+----------+

Exercício 7:

Qual é a média do preço dos produtos por categoria?

In [20]:
%%sql

SELECT CategoryID, ROUND(AVG(UnitPrice), 2)
FROM Products
GROUP BY CategoryID

Running query in 'sqlite:///northwind.sqlite3'

+------------+--------------------------+
| CategoryID | ROUND(AVG(UnitPrice), 2) |
+------------+--------------------------+
|     1      |          37.98           |
|     2      |          23.06           |
|     3      |          25.16           |
|     4      |          28.73           |
|     5      |          20.25           |
|     6      |          54.01           |
|     7      |          32.37           |
|     8      |          20.68           |
+------------+--------------------------+

Exercício 8:


Quantos pedidos cada cliente fez?

In [5]:
%%sql

SELECT CustomerID, COUNT(OrderID)
FROM Orders
GROUP BY (CustomerID)

Running query in 'sqlite:///northwind.sqlite3'

+------------+----------------+
| CustomerID | COUNT(OrderID) |
+------------+----------------+
|   ALFKI    |       6        |
|   ANATR    |       4        |
|   ANTON    |       7        |
|   AROUT    |       13       |
|   BERGS    |       18       |
|   BLAUS    |       7        |
|   BLONP    |       11       |
|   BOLID    |       3        |
|   BONAP    |       17       |
|   BOTTM    |       14       |
+------------+----------------+
Truncated to displaylimit of 10.

Exercício 9:

Quantos produtos de cada categoria estão descontinuados?

In [8]:
%%sql

SELECT CategoryID, COUNT(*)
FROM Products
GROUP BY ProductID
HAVING Discontinued = 1

Running query in 'sqlite:///northwind.sqlite3'

+------------+----------+
| CategoryID | COUNT(*) |
+------------+----------+
|     2      |    1     |
|     6      |    1     |
|     6      |    1     |
|     1      |    1     |
|     7      |    1     |
|     6      |    1     |
|     5      |    1     |
|     6      |    1     |
+------------+----------+